.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.nav-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.calendar-body {
  width: 100%;
  max-width: 800px;
}

.calendar-header-days, .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day-name {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.calendar-day {
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative;
}

.calendar-day.empty {
  background-color: #f7f7f7;
  cursor: default;
}

.calendar-day.match-day {
  background-color: #b3d9ff; /* Azul para días con partidos */
}

.calendar-day.selected {
  background-color: #ffcccc; /* Rojo para el día seleccionado */
  border-color: #ff0000; /* Borde rojo para el día seleccionado */
}

.partidos-del-dia {
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
}

.partidos-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.partido-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.fecha-hora {
  font-weight: bold;
  margin-bottom: 10px;
}

.partido-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.escudo {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.nombre-equipo {
  font-weight: bold;
  margin-bottom: 5px;
}

.resultado {
  font-size: 1.2em;
  margin-left: 10px;
}

.vs {
  font-size: 1.2em;
  margin: 0 15px;
}