/* Estilo global para la página de inicio */
.home {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Navbar */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  max-height: 50px; /* Ajusta la altura máxima del logo */
  width: auto;
}
.navbar-menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-menu li a {
  color: red;
  text-decoration: none;
  font-size: 1.1em;
}

.navbar-menu li a:hover {
  text-decoration: none;
  color: black
}

/* Sección de Partidos */
.partidos-section {
  margin-bottom: 4s0px;
}

.partidos-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: red;
  text-transform: uppercase;
}

.partidos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.partido-card {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px); /* Ajuste para dos columnas */
  position: relative;
}

.partido-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.partido-info p {
  margin: 5px 0 0;
  color: #7f8c8d;
}

.en-directo {
  color: #e74c3c;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Sección de Noticias */
.noticias-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: red;
  text-transform: uppercase;
}

.noticias-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.noticia-card {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px); /* Ajuste para tres columnas */
}

.noticia-card h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.noticia-card p {
  margin: 10px 0;
  color: #7f8c8d;
}

.leer-mas {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
}

.leer-mas:hover {
  text-decoration: underline;
}