/* src/styles/Noticias.css */

.noticias-container {
  padding: 20px;
  background-color: #f4f4f4;
}

.noticias-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.noticias-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}